<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xiaorang.spring.mapper.JobMapper">
	<!--	如果mybatis-config配置文件中没有配置typeAliases的话，这里会变红-->
	<select id="selectJobs" resultType="Jobs">
		select *
		from jobs;
	</select>

	<insert id="saveJobs" parameterType="Jobs">
		insert into jobs values (#{jobId}, #{jobTitle}, #{minSalary}, #{maxSalary});
	</insert>
</mapper>